In [ ]:
import numpy as np
import pandas as pd
from statsmodels.tsa.stattools import adfuller, acf, pacf
from statsmodels.tsa.ar_model import AutoReg
import math
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6
import warnings
warnings.filterwarnings('ignore')

In [ ]:
data= pd.read_csv('Demand_History.csv')

In [ ]:
data_copy = data.copy()
data.drop(columns=['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], axis = 1, inplace = True)
data_copy.rename(columns = {'Unnamed: 12': '2019', 'Unnamed: 13': '2020'}, inplace = True)
data_copy.drop(columns = 'Unnamed: 14', axis = 1, inplace = True)

In [ ]:
data_copy

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572,NaN,NaN
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091,NaN,NaN
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254,NaN,NaN
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302,NaN,NaN
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,4091,59.5,63.5,0.171015,0.334565,0.556055,1.373291,1.837586,2.517146,3.352280,4.149888,5.426193,NaN,NaN
4092,4092,60.5,63.5,0.041716,0.061741,0.131291,0.386540,0.755846,0.941116,1.107797,1.309479,2.057450,NaN,NaN
4093,4093,61.5,63.5,0.100895,0.180352,0.296299,0.705373,1.300220,1.608609,1.822806,2.333681,3.218519,NaN,NaN
4094,4094,62.5,63.5,0.155353,0.290825,0.557803,1.516066,2.399426,2.719197,4.494515,6.096858,6.262574,NaN,NaN
4095,4095,63.5,63.5,0.209372,0.340185,0.749491,1.904285,2.775772,3.404641,4.574922,6.301078,6.860939,NaN,NaN

In [ ]:
for row in range(len(data)):
  data_0 = data[row:row+1]
  data_0.drop(columns=['demand_point_index', 'x_coordinate', 'y_coordinate'], axis = 1, inplace = True)
  data_0 = data_0.transpose()
  data_0['Demand'] = data_0[row]
  data_0.drop(columns = row, inplace=True)
  ts = data_0['Demand']
  ts_log = np.log(ts)
  try:
    model = AutoReg(ts_log, lags = 1).fit()
    predict = model.predict(start = len(ts_log), end = len(ts_log) + 1 )
    pred_original = np.exp(predict)
    data_copy['2019'][row] = pred_original[0]
    data_copy['2020'][row] = pred_original[1]
  except:
    data_copy['2019'][row] = 0
    data_copy['2020'][row] = 0

In [ ]:
data_copy.head()

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572,16.058341,19.061058
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091,14.831362,17.737876
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254,18.276697,23.173072
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302,20.324841,26.861559
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563,22.231965,29.538898

In [ ]:
data_copy.to_csv('Demand_Forecast.csv')